body{
    margin: 0px;
    padding: 0px;
}
.navbar{
    background: #3494E6; 
background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6); 
background: linear-gradient(to right, #EC6EAD, #3494E6);

    color: #303438;
    height:50px;
    border-bottom: 2px black solid;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-content {
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 20px;
    background: #3494E6;
    background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);
    background: linear-gradient(to right, #EC6EAD, #3494E6);
}

#main-content {
    background-color: rgb(236, 232, 232);
    width: 800px;
    height: auto;
    min-height: 800px;
    border: 2px black solid;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#personal-detail-section {
    height: 90px;
    width: 800px;
    align-content: center;
}

#info-section {
    display: flex;
    flex-direction: column;
}

.info-card {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.info-card-head {
    background-color: rgb(177, 172, 172);
    padding: 2px;
}
.info-card-head h3{
    margin-left: 5px;
}
button{
    width: 100px;
    margin-left: 350px;
    border: 1px solid;
    padding: 10px;
    background-color:rgb(177, 172, 172);

    opacity: 0.8;
    transition: 0.3s;
}
button:hover{
    opacity: 1;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: Oswald, sans-serif;
    margin: 0;
    padding: 0;
}

.info-card-content {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    padding: 4px;
}

li {
    margin: 0;
}